<ion-view view-title="Legal Disclaimer">
    <ion-content scroll='false'>
        <ul class="flex-container">
            <li class="flex-item flex-item-main">By Selecting "I Agree" below, I am consenting Polytracer's Admin Application to use my device to automatically center my location, upload data about the device I'm using and my location for the purpose of reporting my transportation and not my personal information to other users. I also acknowledge that this Application is not meant to direct complete sensoral attention to your device while participating in any activity.
                <br/>Follow all applicable laws!
                <br>
                <br>
                <button class="button button-block button-green" ng-click="iAggree()">
                    I Agree
                </button>
            </li>
        </ul>
    </ion-content>
</ion-view>
